<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <title>Spullen</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-1 h1">Spullen</span>
        <span class="navbar-text">
            Aantal: <b>{{ len .Objects }}</b>
      </span>
    </nav>
    <div class="row mt-2">
        <div class="col">
            <form action="/create" method="post">
                <div class="form-group">
                    <input name="name" type="text" class="form-control form-control-sm" placeholder="objectnaam" autocomplete="off" autofocus>
                </div>
            </form>
        </div>
        <div class="col">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Naam</th>
                        <th scope="col">Sinds</th>
                        <th scope="col">Tags</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {{ range .Objects }}
                    {{ if .Private }}
                    <tr>
                        <td colspan="4"><span class="text-muted"><i>redacted</i></span></td>
                    </tr>
                    {{ else }}
                    <tr>
                        <td>{{ .Name }}</td>
                        <td>{{ .Added.Format "02-01-2006" }}</td>
                        <td>
                            {{ range .Tags }}
                                <span class="badge badge-pill badge-secondary">{{ . }}</span>
                            {{ end }}
                        </td>
                        <td>
                            <a href="/delete?id={{.Id}}"><span class="fa fa-trash-o"></span></a>
                        </td>
                    </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>